.cuerpo {
    background-color: cornflowerblue;
    color:blue;
    margin: 0%;
}

.header {
    display: flex;
    background-color: blueviolet;
    padding: 1rem;
    margin: 0;
}
.header_logo-container {
    display: block;
    width: 107px;
    height: 32px;
}

.header_logo {
    width: 100%;
    height: 100%;
}